export(CountryID)
export(DpiGet)
export(DropNA.psData)
export(PolityGet)
export(RRCrisisGet)
export(WinsetCreator)
import(countrycode)
importFrom(DataCombine,DropNA)
importFrom(DataCombine,MoveFront)
importFrom(foreign,read.dta)
importFrom(foreign,read.spss)
importFrom(xlsx,getSheets)
importFrom(xlsx,loadWorkbook)
importFrom(xlsx,read.xlsx)
