export(DataFrameConstr)
export(HomogList)
export(constrained_data_frame)
export(subclass_homog_list)
export(validate_data_frame)
exportClasses(DataFrameConstr)
exportClasses(HomogList)
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[<-")
exportMethods(c)
exportMethods(cbind2)
exportMethods(rbind2)
